<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= path %></title>
    <%- include ./partials/styles %> 
    <% if (admin) { %>
      <%- include ./partials/scripts %> 
    <% } %>
  </head>
  <body>
    <%- include ./partials/svg %>
    <header>
      <h1>
        <a href=""><%= path %></a>
      </h1>
    </header>
    <main>
      <div class="listing">
        <table aria-describedby="summary">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th></th>
              <th>Size</th>
              <th>Modified</th>
            </tr>
          </thead>
          <tbody>
            <% if(up) { %>
            <tr class="file">
              <td></td>
              <td>
                <a href="<%= up %>">
                  <svg
                    width="1.5em"
                    height="1em"
                    version="1.1"
                    viewBox="0 0 265 323"
                  >
                    <use xlink:href="#folder"></use>
                  </svg>
                  <span class="name">..</span>
                </a>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <% } %> 
            <% files.forEach(function(file) { %>
            <tr class="file <%= file.hidden ? 'hidesync' : '' %>">
              <td></td>
              <td>
                <a href="<%= file.full %>">
                  <svg
                    width="1.5em"
                    height="1em"
                    version="1.1"
                    viewBox="0 0 265 323"
                  >
                    <use
                      xlink:href="#<%= file.isDir ? 'folder' : 'file' %>"
                    ></use>
                  </svg>
                  <span class="name"><%= file.name %></span>
                </a>
              </td>
              <td>
                <% if (admin) { %>
                <span title="hide from sync" class="button" onclick="hide(this, '<%= file.full %>')">
                  <svg width="22" height="18" version="1.1" viewBox="0 0 22 22">
                    <use xlink:href="#visibility"></use>
                  </svg>
                </span>
                <span title="delete" class="button" onclick="remove(this, '<%= file.full %>')">
                  <svg width="20" height="20" version="1.1" viewBox="0 0 20 20">
                    <use xlink:href="#delete"></use>
                  </svg>
                </span>
                <% } %>
              </td>
              <td><%= file.size %></td>
              <td>
                <time datetime="<%= file.modifiediso %>"><%= file.modified %></time>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
